<h2>Events by <%= @user.user_name %></h2>

<ul>
  <% event_count = 1 %>
  <% @user.events.each do |e| %>
  <li> <%= event_count %>. <%= e.title %>
    <%= render "shared/event_details", :e => e %>
  <br>
  <% event_count += 1 %>
  <% end %>
</ul>

