
  <ul>
    <li class="event-list-time"><%= e.date.to_time.strftime('%B %e') %></li>
    <li class="event-list-location"><%= e.location %></li>
    <li class="event-title-details"><%= e.description %></li>
  </ul>

