html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* removes button stlying */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Above this is just myers reset */

* {
  font: "Helvetica", sans-serif;
  font-size: 20px;
  color: var(--dark-blue);

  --red: #e63946;
  --beige: #f1faee;
  --light-blue: #a8dadc;
  --med-blue: #457b9d;
  --dark-blue: #1d3557;
  --light-red: #e68d94;

}

html {
  background-color: var(--light-blue);
}

.container {
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  background-color: var(--light-blue);
}

.header,
.footer {
  min-width: 100%;
  min-height: 5vh;
  background-color: var(--beige);
  padding: 10px;
  padding-bottom: 5px;
}

.header ul {
  display: grid;
  grid-template-columns: 4fr repeat(3, 0.5fr);
  gap: 15px;
}

.header .site-title {
  justify-self: center;
  margin-left: 45%;
  font-weight: bold;
  font-size: 2rem;
}

.site-title a {
  text-decoration: none;
}

.index-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% auto;
}

.future-list {
  grid-column: 1 / 2;
  grid-row: 2;
}

.past-list {
  grid-column: 2 / 3;
  grid-row: 2;
}

.new-event-link {
  margin: 10px;
  padding-top: 20px !important;
}


.page-title-container {
  grid-row: 1;
  grid-column: 1 / 3;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 10%;
  margin-left: 15%;
  padding-right: 5%;
}

.index-title {
  font-size: 1.5rem;
  padding-top: 30px;
}


.event-list {
  grid-row-start: 2;
  text-align: left;
  justify-self: center;
  background-color: var(--beige);
  border-radius: 25px;
  padding: 20px;
}

.event-list ul {
  padding: 10px;


}

.event-list ul li{
  background-color: var(--med-blue);
  padding: 5px;
  padding-left: 15px;
}
/*
.event-title-list a:link,
.event-title-list a:visited,
.event-title-list a:hover, */
.event-title-list > a {
  color: red;
  font-weight: bold;
}

.event-list ul li a:link,
.event-list ul li a:visited,
.event-list ul li a:hover,
.event-list ul li a:active {
  text-decoration: none;
  color: var(--beige);
}


.event-title-list {
  font-weight: bold;
  text-decoration: underline;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;




}

.event-title-author,
.event-list-time  {
  font-size: 0.8rem;
  color: var(--beige)
}

.event-title-details {
  font-size: 0.9;
  color: var(--beige);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.h3-title {
  font-weight: bold;
  font-size: 1.5rem;
  justify-self: center;
  padding: 5px;
}


.footer {
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.git-link a {
  text-decoration: none;
}

.link-btn {
  background-color: var(--red);
  color: var(--beige);
  border: 0px;
  padding: 3px 8px;
  border-radius: 8px;
  text-align: center;
  padding-top: 5%;
}

.link-btn a:link,
.link-btn a:visited,
.link-btn a:hover,
.link-btn a:active,
button {
  color: var(--beige);
  text-decoration: none;
}

.link-btn a:hover,
button:hover {
  color: var(--light-red);
}

.show-user-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  gap: 100px;
}

.user-events {
  grid-column: 1;
  background-color: var(--dark-blue);
  padding: 15px;
}

.user-events,
.user-attending-events {
  background-color: var(--dark-blue);
  padding: 15px;
  border-radius: 25px;
}



.user-events > h2,
.user-events ul > li,
.user-upcoming-events > h3,
.user-past-events > h3,
.user-upcoming-events ul > li > a,
.user-past-events ul > li > a,
.user-upcoming-events ul > li,
.user-past-events ul > li {
  color: var(--beige);
  padding-bottom: 5px;
}


.user-attending-events {
  grid-column: 2;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.user-events h2,
.user-upcoming-events > h3,
.user-past-events > h3 {
  font-weight: bold;
  padding-bottom: 10px;
}

.user-upcoming-events {

}

.user-past-events {
}
